<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <title><%= error.status %> Error</title>
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'>

        <link rel="stylesheet" href="/css/error.css">
        <link rel="stylesheet" href="/css/animate.css">

        <script type="text/javascript" src="/js/vendor/countUp.min.js"></script>
        <script type="text/javascript" src="/js/vendor/wow.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="content">
	            <div class="row">
	                <div class="col-md-12">
	                    <h3 class="center capital f1 wow fadeInLeft" data-wow-duration="1s">Something went Wrong!</h3>
	                    <h1 id="error" class="center wow fadeInRight" data-wow-duration="1s">0</h1>
	                    <h2 class="center wow bounceIn" data-wow-delay="0.5s"><%= message %></h2>
	                    <pre class="wow bounceIn"><%= error.stack %></pre>
	                </div>
	            </div>

	            <div class="row">
	                <div class="col-md-12">
	                    <div class="links-wrapper">
	                        <ul class="links">
	                            <li ><a href="http://zihao.me"><i class="fa fa-home fa-2x"></i></a></li>
	                            <li ><a href="http://twitter.com/zzh8829"><i class="fa fa-twitter fa-2x"></i></a></li>
	                            <li ><a href="http://github.com/zzh8829"><i class="fa fa-github fa-2x"></i></a></li>
	                            <li ><a href="https://linkedin.com/in/zzh8829"><i class="fa fa-linkedin fa-2x"></i></a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
        <script>
            "use strict";
            var count = new CountUp("error", 0, <%= error.status %>, 0, 2);
            window.onload = function() {
                // fire animation
                count.start();
            }
            var wow = new WOW({
                animateClass: 'animated',
                offset:       100
            });
            wow.init();
        </script>
        <script src="/js/ga.js"></script>
    </body>
</html>
