<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <% include partials/head %>
        <title>Zihao Zhang</title>

        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="navbar navbar-static-top main-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Zihao Zhang</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://blog.zihao.me">Blog</a></li>
                        <li><a href="http://seafile.zihao.me">Cloud</a></li>
                        <li><a href="https://github.com/zzh8829?tab=repositories">Projects</a></li>
						<li><a href="static/resume.pdf">Resume</a></li>
                        <li><a href="mailto:zzh8829@gmail.com">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <footer role="contentinfo">
          <div class="container">
            <div class="main-social">
                <ul class = "main-social-buttons">
                <a href="https://github.com/zzh8829" target="_blank"><li><i class="social fa fa-github-square fa-2x social-gh"></i></li></a>
                <a href="http://quora.com/Zihao-Zhang" target="_blank"><li><img class="social fa fa-2x social-quora" src="img/quora-64-gray.png"></img></li></a>
                <a href="https://twitter.com/zzh8829" target="_blank"><li><i class="social fa fa-twitter-square fa-2x social-twitter"></i></li></a>
                <a href="https://linkedin.com/in/zzh8829" target="_blank"><li><i class="social fa fa-linkedin-square fa-2x social-linkedin"></i></li></a>
                <a href="mailto:zzh8829@gmail.com"><li><i class="social fa fa-envelope-square fa-2x social-email"></i></li></a>
                <a href="https://steamcommunity.com/id/zzh8829" target="_blank"><li><i class="social fa fa-steam-square fa-2x social-steam"></i></li></a>
                <a href="https://www.facebook.com/zihao.pro.zhang" target="_blank"><li><i class="social fa fa-facebook-square fa-2x social-facebook"></i></li></a>
                <a href="https://plus.google.com/108091426289970576616" target="_blank"><li><i class="social fa fa-google-plus-square fa-2x social-googleplus"></i></li></a>
                <a href="https://www.youtube.com/user/zzhist" target="_blank"><li><i class="social fa fa-youtube-square fa-2x social-youtube"></i></li></a>
                <a href="https://instagram.com/zzihaoz" target="_blank"><li><i class="social fa fa-instagram fa-2x social-instagram"></i></li></a>
                <a href="https://www.pinterest.com/zzh8829" target="_blank"><li><i class="social fa fa-pinterest-square fa-2x social-pinterest"></i></li></a>
                <a href="https://www.tumblr.com/blog/zzh8829" target="_blank"><li><i class="social fa fa-tumblr-square fa-2x social-tumblr"></i></li></a>
                <a href="www.last.fm/user/zzh8829" target="_blank"><li><i class="social fa fa-lastfm-square fa-2x social-lastfm"></i></li></a>
                </ul>
            </div>
            <p>Designed and built with love by <a href="https://twitter.com/zzh8829" target="_blank">@zzh8829</a>.</p>
            <p>Code licensed under <a rel="license" href="https://github.com/zzh8829/zihao.me/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.</p>
          </div>
        </footer>

        <script src="/js/main.js"></script>
        <script src="/js/ga.js"></script>

        <script src="//zihao.ca/three.js/examples/js/Detector.js"></script>
        <script src="//zihao.ca/three.js/examples/js/libs/stats.min.js"></script>

        <script>
            if (!Detector.webgl ) Detector.addGetWebGLMessage();

            var socket = io();

            var width, height;
            var scene, camera, renderer;

            var rollOverMesh, rollOverMaterial;
            var cubeGeo, cubeMaterial;

            var plane, cube;
            var mouse, raycaster, isShiftDown = false;

            var objects = [];

            var stats;

            var clock = new THREE.Clock();

            THREE.ImageUtils.crossOrigin = '';

            init();
            animate();

            function init() {
                width = window.innerWidth;
                height = window.innerHeight - 200;

                scene = new THREE.Scene();

                camera = new THREE.PerspectiveCamera( 45, width/height, 1, 10000);
                //camera.position.set( 200, 320, 640 );
                camera.lookAt( new THREE.Vector3() );

                rollOverGeo = new THREE.BoxGeometry( 50, 50, 50 );
                rollOverMaterial = new THREE.MeshBasicMaterial( { color: 0x1B5C5A, opacity: 0.5, transparent: true } );
                rollOverMesh = new THREE.Mesh( rollOverGeo, rollOverMaterial );
                scene.add( rollOverMesh );

                // cubes

                cubeGeo = new THREE.BoxGeometry( 50, 50, 50 );
                cubeMaterial = new THREE.MeshLambertMaterial( { color: 0xfeb74c, shading: THREE.FlatShading} );

                // grid

                var size = 1000, step = 50;

                var geometry = new THREE.Geometry();

                for ( var i = - size; i <= size; i += step ) {

                    geometry.vertices.push( new THREE.Vector3( - size, 0, i ) );
                    geometry.vertices.push( new THREE.Vector3(   size, 0, i ) );

                    geometry.vertices.push( new THREE.Vector3( i, 0, - size ) );
                    geometry.vertices.push( new THREE.Vector3( i, 0,   size ) );

                }

                var material = new THREE.LineBasicMaterial( { color: 0x000000, opacity: 0.2, transparent: true } );

                var line = new THREE.Line( geometry, material, THREE.LinePieces );
                scene.add( line );

                //

                raycaster = new THREE.Raycaster();
                mouse = new THREE.Vector2();

                var geometry = new THREE.PlaneBufferGeometry( 2000, 2000 );
                geometry.applyMatrix( new THREE.Matrix4().makeRotationX( - Math.PI / 2 ) );

                plane = new THREE.Mesh( geometry );
                plane.visible = false;
                scene.add( plane );

                objects.push( plane );

                // Lights

                var ambientLight = new THREE.AmbientLight( 0x606060 );
                scene.add( ambientLight );

                var directionalLight = new THREE.DirectionalLight( 0xffffff );
                directionalLight.position.set( 1, 0.75, 0.5 ).normalize();
                scene.add( directionalLight );

                renderer = new THREE.WebGLRenderer({alpha: true, antialias:true});
                renderer.setSize(width, height);

                stats = new Stats();
                stats.domElement.style.position = 'absolute';
                stats.domElement.style.right = '0px';
                stats.domElement.style.bottom = '0px';

                window.addEventListener('resize', onWindowResize, false);

                document.addEventListener( 'mousemove', onDocumentMouseMove, false );
                document.addEventListener( 'mousedown', onDocumentMouseDown, false );

                document.body.appendChild(stats.domElement);
                document.body.appendChild(renderer.domElement);
            }

            function onDocumentMouseMove( event ) {

                event.preventDefault();

                mouse.set((event.clientX/width) * 2 - 1, - ((event.clientY-50)/height) * 2 + 1 );

            }

            function onDocumentMouseDown( event ) {

                event.preventDefault();

                mouse.set((event.clientX/width) * 2 - 1, - ((event.clientY-50)/height) * 2 + 1 );

                raycaster.setFromCamera( mouse, camera );

                var intersects = raycaster.intersectObjects( objects );

                if ( intersects.length > 0 ) {
                    var intersect = intersects[ 0 ];
                    // delete cube
                    if ( event.ctrlKey || event.metaKey) {
                        if ( intersect.object != plane ) {
                            scene.remove( intersect.object );
                            objects.splice( objects.indexOf( intersect.object ), 1 );

                        }
                    // create cube
                    } else {
                        var voxel = new THREE.Mesh( cubeGeo, cubeMaterial );
                        voxel.position.copy( intersect.point ).add( intersect.face.normal );
                        voxel.position.divideScalar( 50 ).floor().multiplyScalar( 50 ).addScalar( 25 );
                        scene.add( voxel );

                        objects.push( voxel );
                    }
                }
            }


            function animate() {
                requestAnimationFrame( animate );

                var timer = Date.now() * 0.0003;

                raycaster.setFromCamera( mouse, camera );

                var intersects = raycaster.intersectObjects( objects );

                if ( intersects.length > 0 ) {

                    var intersect = intersects[ 0 ];

                    rollOverMesh.position.copy( intersect.point ).add( intersect.face.normal );
                    rollOverMesh.position.divideScalar( 50 ).floor().multiplyScalar( 50 ).addScalar( 25 );

                }

                camera.position.x = Math.cos( timer ) * 700;
                camera.position.y = 800;
                camera.position.z = Math.sin( timer ) * 700;
                camera.lookAt(new THREE.Vector3());

                renderer.render( scene, camera );

                stats.update();
            }

            function onWindowResize(){
                width = window.innerWidth;
                height = window.innerHeight - 200;
                camera.aspect = width/height;
                camera.updateProjectionMatrix();
                renderer.setSize(width, height);
            }
        </script>
    </body>
</html>
