<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <% include partials/head %>
        <title>Zihao Zhang</title>

        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper">
        <header class="navbar navbar-static-top main-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Zihao Zhang</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://blog.zihao.me">Blog</a></li>
                        <li><a href="http://seafile.zihao.me">Cloud</a></li>
                        <li><a href="https://github.com/zzh8829?tab=repositories">Projects</a></li>
						<li><a href="static/resume.pdf">Resume</a></li>
                        <li><a href="mailto:zzh8829@gmail.com">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main id="content">

        </main>

        <footer role="contentinfo">
            <div class="container">
            <div class="main-social">
                <ul class = "main-social-buttons">
                <a href="https://github.com/zzh8829" target="_blank"><li><i class="social fa fa-github-square fa-2x social-github"></i></li></a>
                <a href="https://quora.com/Zihao-Zhang" target="_blank"><li><img class="social fa fa-2x social-quora" src="/img/quora-64-gray.png"></img></li></a>
                <a href="https://twitter.com/zzh8829" target="_blank"><li><i class="social fa fa-twitter-square fa-2x social-twitter"></i></li></a>
                <a href="https://linkedin.com/in/zzh8829" target="_blank"><li><i class="social fa fa-linkedin-square fa-2x social-linkedin"></i></li></a>
                <a href="mailto:zzh8829@gmail.com"><li><i class="social fa fa-envelope-square fa-2x social-email"></i></li></a>
                <a href="https://steamcommunity.com/id/zzh8829" target="_blank"><li><i class="social fa fa-steam-square fa-2x social-steam"></i></li></a>
                <a href="https://www.facebook.com/zihao.pro.zhang" target="_blank"><li><i class="social fa fa-facebook-square fa-2x social-facebook"></i></li></a>
                <a href="https://plus.google.com/108091426289970576616" target="_blank"><li><i class="social fa fa-google-plus-square fa-2x social-googleplus"></i></li></a>
                <a href="https://www.youtube.com/user/zzhist" target="_blank"><li><i class="social fa fa-youtube-square fa-2x social-youtube"></i></li></a>
                <a href="https://instagram.com/zzihaoz" target="_blank"><li><i class="social fa fa-instagram fa-2x social-instagram"></i></li></a>
                <a href="https://www.pinterest.com/zzh8829" target="_blank"><li><i class="social fa fa-pinterest-square fa-2x social-pinterest"></i></li></a>
                <a href="https://www.tumblr.com/blog/zzh8829" target="_blank"><li><i class="social fa fa-tumblr-square fa-2x social-tumblr"></i></li></a>
                <a href="https://www.last.fm/user/zzh8829" target="_blank"><li><i class="social fa fa-lastfm-square fa-2x social-lastfm"></i></li></a>
                </ul>
            </div>
            <p>Designed and built with love by <a href="https://twitter.com/zzh8829" target="_blank">@zzh8829</a>.</p>
            </div>
        </footer>
        </div>

        <script src="/js/ga.js"></script>  

        <script src="/js/vendor/three.js/examples/js/libs/stats.min.js"></script>
        <script src="/js/vendor/three.js/examples/js/Detector.js"></script>
        <script src="/js/vendor/three.js/examples/js/ImprovedNoise.js"></script>
        <script src="/js/craft.js"></script>     
    </body>
</html>
