footer(role='contentinfo')
   .container
     .main-social
       ul.main-social-buttons
         a(href='https://github.com/zzh8829', target='_blank')
           li
             i.social.fa.fa-github-square.fa-2x.social-github
         a(href='https://quora.com/Zihao-Zhang', target='_blank')
           li
             img.social.fa.fa-2x.social-quora(src='/img/quora-64-gray.png')
         a(href='https://twitter.com/zzh8829', target='_blank')
           li
             i.social.fa.fa-twitter-square.fa-2x.social-twitter
         a(href='https://linkedin.com/in/zzh8829', target='_blank')
           li
             i.social.fa.fa-linkedin-square.fa-2x.social-linkedin
         a(href='mailto:zzh8829@gmail.com')
           li
             i.social.fa.fa-envelope-square.fa-2x.social-email
         a(href='https://steamcommunity.com/id/zzh8829', target='_blank')
           li
             i.social.fa.fa-steam-square.fa-2x.social-steam
         a(href='https://www.facebook.com/zihao.pro.zhang', target='_blank')
           li
             i.social.fa.fa-facebook-square.fa-2x.social-facebook
         a(href='https://plus.google.com/108091426289970576616', target='_blank')
           li
             i.social.fa.fa-google-plus-square.fa-2x.social-googleplus
         a(href='https://www.youtube.com/user/zzhist', target='_blank')
           li
             i.social.fa.fa-youtube-square.fa-2x.social-youtube
         a(href='https://instagram.com/zihaozhang_', target='_blank')
           li
             i.social.fa.fa-instagram.fa-2x.social-instagram
         a(href='https://www.pinterest.com/zzh8829', target='_blank')
           li
             i.social.fa.fa-pinterest-square.fa-2x.social-pinterest
         a(href='https://www.tumblr.com/blog/zzh8829', target='_blank')
           li
             i.social.fa.fa-tumblr-square.fa-2x.social-tumblr
         a(href='https://www.last.fm/user/zzh8829', target='_blank')
           li
             i.social.fa.fa-lastfm-square.fa-2x.social-lastfm
     p
       | Designed and built with love by
       a(href='https://twitter.com/zzh8829', target='_blank') @zzh8829
       | .
