doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='HandheldFriendly', content='True')

    meta(name='description', content='Zihao Zhang - Computer Science student at the University of Waterloo.')
    meta(name='author', content='Zihao Zhang')

    meta(property='og:site_name', content="Zihao Zhang's Home Page")
    meta(property='og:title', content="Zihao Zhang's Home Page")
    meta(property='og:description', content='Zihao Zhang - Computer Science student at the University of Waterloo.')
    meta(property='og:image', content='/img/favicon.png')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://zihao.me')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content="Zihao Zhang's Home Page")
    meta(name='twitter:description', content='Zihao Zhang - Computer Science student at the University of Waterloo.')
    meta(name='twitter:url', content='https://zihao.me')

    link(rel='shortcut icon', href='/img/favicon.png')
    link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
    link(rel='canonical', href='https://zihao.me')

    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Zihao Zhang",
        "jobTitle": "Student",
        "telephone": "(519) 722-9612",
        "url": "https://zihao.me",
        "description": "Zihao Zhang - Computer Science student at the University of Waterloo."
      }

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')

    block head
  body
    #wrapper
      include ./header.pug
      block header

      block content

      include ./footer.pug

      script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
      script(src='/js/ga.js')
      block footer


