extends ./includes/layout.pug

block head
  title Zihao Zhang - #{error.status}
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800')
  link(rel='stylesheet', href='/css/error.css')
  link(rel='stylesheet', href='/css/animate.min.css')
  script(type='text/javascript', src='/js/vendor/countUp.min.js')
  script(type='text/javascript', src='/js/vendor/wow.js')


block content
  main#content
    .container2
      .row
        .col-md-12
          h3.center.capital.f1.wow.fadeInLeft(data-wow-duration='1s') Something went Wrong!
          h1#error.center.wow.fadeInRight(data-wow-duration='1s') 0
          h2.center.wow.bounceIn(data-wow-delay='0.5s') #{error.message}
          pre.wow.bounceIn #{error.stack}

block footer
  script.
    "use strict";
    var count = new CountUp("error", 0, "#{error.status}", 0, 2);
      window.onload = function() {
      // fire animation
      count.start();
    }
    var wow = new WOW({
      animateClass: 'animated',
      offset:       100
    });
    wow.init();
