extends ./includes/layout.pug

block head
  title Zihao Zhang
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js')

block content
  main#content

block footer
  script(src='//zihao.me/js/vendor/three.js/examples/js/libs/stats.min.js')
  script(src='//zihao.me/js/vendor/three.js/examples/js/Detector.js')
  script(src='//zihao.me/js/vendor/three.js/examples/js/ImprovedNoise.js')
  script(src='/js/craft.js')
